* {
  outline: none;
}

h1 {
  text-align: center;
  font-size:2rem;
  margin-bottom:1rem; 
}
body {
  /* background-color: pink; */
  margin: 20vh auto;
  max-width: 600px;
  font-family: sans-serif;
}
.search-wrapper {
  display: flex;
  max-width: 600px;
}
[name="search-box"]{
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.25rem;
}
.highlighted{
  font-weight: bold;
}
/*experimental highlight feature*/
.remaining-text{
  /* color: grey; */
}
button {
  color:inherit;
  background-color:#666;
  cursor: pointer;
  color:white;  
  border: none; 
}
ul{
  position: absolute;
}
li {
  padding: 1rem;
  background-color: #f8f8f880;
  cursor: pointer;
}
li:hover {
  background-color: #888;
  color:white;  
}